body {
  background-color: #f3f3f38e;
  margin: 0;
  padding: 0;
}

header#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFA500;
  padding: 10px 20px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

main {
  margin-top: 120px;
  padding: 20px;
}

h1{
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Old English', cursive;
  margin: 0;
  flex-grow: 1;
}

h2{
  color: rgb(0, 0, 0);
  font-family: 'Old English', cursive;
  margin: 0;
}

p {
  color: rgb(0, 0, 0);
  text-align: auto;
  font-family: 'Old English', cursive;
  font-size: 20px; 
}

img{
  width: 200px;
  height: auto;
}

footer {
  background-color: #FFA500;
  text-align: center;
  justify-content: center;
  padding: 10px;
  position:relative;
}

input{
    border: 2px solid #FFA500;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
    margin-left: 5px;
    font-family: 'old english', cursive;
  }

  input:focus {
    border-color: #f8c542;
  }

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Old English', cursive;
}

#carrinho {
  position: static;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  transition:0.2s;
  margin-left: 5px;
}

#carrinho:hover {
  transform: scale(1.1);
}

#img /*não mexer*/{
  width: 60px;
  height: 60px;
}

#logo {
  position: static;
  width: 60px;
  height: 60px;
  transition:0.2s;
  cursor: pointer;
}

#logo:hover {
  transform: scale(1.1);
}

/* Menu lateral retrátil */
.menu-btn {
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: #f3f3f3d7;
  color: black;
  border: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 101;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.menu-btn:hover {
  background-color: #fffde8d7;
  transform: scale(1.1);
}

.menu {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #FFA500;
  padding-top: 100px;
  transition: left 0.3s ease;
  z-index: 99;
  overflow-y: auto;
}

.menu.active {
  left: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid none;
}

.menu a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 15px 20px;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #fdc762;
}

/* submenu */

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffb121;
  display: none;
}

.menu li:has(> .submenu) > a::after {
  content: ' ▼';
  font-size: 12px;
  margin-left: 6px;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  border-bottom: 1px solid #fdc762;
}

.submenu a {
  padding-left: 40px;
  font-size: 14px;
}

#principal img{
  width: 10%;
  height: 10%;
  border: #000000 1px solid;
}

.item {
  margin: 10px;
}

.btn-carrinho {
  background-color: #FFA500;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-carrinho:hover {
  background-color: #f8c542;
  transform: scale(0.99);
}

.btn-remover {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
  margin-left: 10px;
}

.btn-remover:hover {
  background-color: #c82333;
  transform: scale(1.1);
}

#finalizar-compra {
  background-color: #3A5A40;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 3px;
}

#finalizar-compra:hover {
  background-color: rgb(0, 128, 0);
  transform: scale(1.1);
}